/* google font */

.google-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


/* main style */
header{
    background-color: #1A0B2E;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header-sections{
    display: flex;
    justify-content: space-between;
}

.header-sections ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
    color: #ffffff;
}

.header-sections ul li a{
    text-decoration: none;
    color: #ffffff;
}

.header-sections button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px 16px;
    border: none;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    color: white;
    font-weight: bold;
    border-radius: 10000px;
}

.hero-button button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px 16px;
    border: none;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    color: white;
    font-weight: bold;
    border-radius: 10000px;
}

.hero{
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle{
    background-image: url(assets/hero-circle.png);
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn{
    
    background-color:#00FF88;
    border-radius: 1000px;
    gap: 10px;
    padding:8px 16px;
    margin-left: 265px;
    position: absolute;
    margin-top:33px;

}
.circle h1{
     font-weight: bold;
     color: #ffffff;

}
 .hero-main h1{
    color: #ffffff;
    margin-top: 30px;
    font-size: bold;
 }
 .hero-main p{
    color: #ffffff;
 }
 .hero-btn{
     margin-top: 24px;
     display: flex;
     gap: 8px;
 }
 #hero{
background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 10000px;
    border: none;
    cursor: pointer;
    color: #ffffff;
 }
 .hero-s{
    color: #00FF88;
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
border-radius: 10000px;
gap: 8px;
padding:12px 20px;
border: 1px solid #00FF88;
 }